In [4]:
import praw
import pandas as pd

In [36]:
reddit = praw.Reddit()

### For ChatGPT initial save

In [ ]:
my_subreddit = 'ChatGPT'

In [ ]:
posts = reddit.subreddit(my_subreddit).new(limit=1000)

In [ ]:
#Here commenting out comments which we didn't use in the end but the below can also pull comments
posts_list = []

for post in posts:
    #comments_list = []
    #try:
    #    comments = post.comments.list()
     
    #    for comment in comments[:5]:
    #        comments_list.append(comment.body)
    #    all_comments = ', '.join(comments_list)
    #except:
    #    None

    posts_list.append(
        {
             'title': post.title,
             'selftext': post.selftext,
             'subreddit': post.subreddit,
             'score' : post.score,
             'created_utc': post,
             'name': post.name,
             'id': post.id,
             'comments': all_comments
            
        }
    )

In [ ]:
df_chatgpt_210124 = pd.DataFrame(posts_list)
df_chatgpt_210124[:10]

In [ ]:
#df_chatgpt_210124.to_csv('df_chatgpt_210124_1000.csv')

### For midjourney initial save

In [ ]:
my_subreddit_2 = 'midjourney'

In [ ]:
posts_2 = reddit.subreddit(my_subreddit_2).new(limit=1000)

In [ ]:
posts_list_midjourney = []

for post in posts_2:
    #comments_list = []
    #try:
    #    comments = post.comments.list()
    
    #    for comment in comments[:5]:
    #        comments_list.append(comment.body)
    #    all_comments = ', '.join(comments_list)
    #except:
    #    None

    print(post.title)
    posts_list_midjourney.append(
        {
             'title': post.title,
             'selftext': post.selftext,
             'subreddit': post.subreddit,
             'score' : post.score,
             'created_utc': post,
             'name': post.name,
             'id': post.id
             #'comments': all_comments
            
        }

    )

In [ ]:
df_midjourney_210124 = pd.DataFrame(posts_list_midjourney)
df_midjourney_210124.head()

In [ ]:
#df_midjourney_210124.to_csv('df_midjourney_210124_1000.csv')

## Pulling later posts

In [37]:
my_subreddit = 'ChatGPT'

posts = reddit.subreddit(my_subreddit).new(limit=1000, params={'before': 't3_19dx8ls'})

posts_list = []

for post in posts:
    posts_list.append(
        {
             'title': post.title,
             'selftext': post.selftext,
             'subreddit': post.subreddit,
             'created_utc': post,
             'name': post.name
            
        }
    )
    
len(posts_list)

100

In [38]:
df_chatgpt_270124 = pd.DataFrame(posts_list)
df_chatgpt_270124.head()

,title,selftext,subreddit,created_utc,name
0,ChatGPT is now generating multiple answers in ...,So I asked a programming question to it and it...,ChatGPT,19ed5jn,t3_19ed5jn
1,Weird Notation,&#x200B;\n\n[Does anyone know why I'm getting ...,ChatGPT,19ed4wo,t3_19ed4wo
2,Memory Retention with API calls,I would like to create a workflow using ChatGP...,ChatGPT,19ecyc8,t3_19ecyc8
3,Create Chatbot from your content,Create a Chatbot AI using your own content in ...,ChatGPT,19ecu71,t3_19ecu71
4,In response to “this is fine” being memorised ...,,ChatGPT,19ecnoi,t3_19ecnoi

In [39]:
len(df_chatgpt_270124)

100

In [40]:
df_chatgpt_270124.to_csv('df_chatgpt_270124_1000.csv')

In [ ]:
my_subreddit = 'midjourney'


posts = reddit.subreddit(my_subreddit).new(limit=1000, params={'before': 't3_19ess7j'})

posts_list = []

for post in posts:
    posts_list.append(
        {
             'title': post.title,
             'selftext': post.selftext,
             'subreddit': post.subreddit,
             'created_utc': post,
             'name': post.name
            
        }
    )

In [ ]:
df_midjourney_250124 = pd.DataFrame(posts_list)
df_midjourney_250124.head()

In [ ]:
df_midjourney_250124.to_csv('df_midjourney_250124_1000.csv')

## Combining datasets

### Midjourney

In [5]:
df_midjourney_210124 = pd.read_csv('df_midjourney_210124_1000.csv')
df_midjourney_210124.head()

,Unnamed: 0,title,selftext,subreddit,score,created_utc,name,id,comments
0,0,"Hi, could you guys tell me if this is AI gener...",NaN,midjourney,1,19c7xex,t3_19c7xex,19c7xex,NaN
1,1,Painting 5,"painting by Ilya repin, Japanese vampire princ...",midjourney,1,19c7v3l,t3_19c7v3l,19c7v3l,NaN
2,2,Painting 4,"\npainting by Ilya repin oil on canvas , Malay...",midjourney,3,19c7js0,t3_19c7js0,19c7js0,NaN
3,3,Painting 3,"\npainting by edward hopper oil on canvas, qin...",midjourney,4,19c7j43,t3_19c7j43,19c7j43,NaN
4,4,BREAKING LEGOS,[DanielGindin.com](https://DanielGindin.com),midjourney,1,19c7fbp,t3_19c7fbp,19c7fbp,NaN

In [25]:
len(df_midjourney_210124)

965

In [6]:
df_midjourney_240124 = pd.read_csv('df_midjourney_240124_1000.csv')
df_midjourney_240124.head()

,Unnamed: 0,title,selftext,subreddit,score,created_utc,name,id
0,0,Making multi-panel comic pages more coherent,I’ve been playing with a prompt like \n\n/imag...,midjourney,2,19ess7j,t3_19ess7j,19ess7j
1,1,When the world goes under (part 3),NaN,midjourney,2,19esj0c,t3_19esj0c,19esj0c
2,2,Hospital from a parallel reality,NaN,midjourney,2,19esflw,t3_19esflw,19esflw
3,3,The luxurious self-driving cars of the future ...,NaN,midjourney,26,19es1ve,t3_19es1ve,19es1ve
4,4,lost 80s vegas movie,NaN,midjourney,5,19es187,t3_19es187,19es187

In [26]:
len(df_midjourney_240124)

978

In [7]:
df_midjourney_250124 = pd.read_csv('df_midjourney_250124_1000.csv')
df_midjourney_250124.head()

,Unnamed: 0,title,selftext,subreddit,created_utc,name
0,0,Midjourney new alpha web interface is great,You dont have to use discord anymore (you can ...,midjourney,19fadsz,t3_19fadsz
1,1,Rodeo Daddy Torn Ripped Shirt Beefy Hairy Pecs,NaN,midjourney,19fabl9,t3_19fabl9
2,2,Tiedup Restrained Musclebear Daddy Silverfox,NaN,midjourney,19fabar,t3_19fabar
3,3,Give me feedback on the Concept trailer i made...,NaN,midjourney,19fa940,t3_19fa940
4,4,🐠 Tailfin Thursday 🐟,NaN,midjourney,19fa46c,t3_19fa46c

In [8]:
df_midjourney_21_24 = pd.concat([df_midjourney_210124,df_midjourney_240124])

In [9]:
df_midjourney_21_25 = pd.concat([df_midjourney_21_24,df_midjourney_250124])

In [10]:
df_midjourney_21_25.duplicated().sum()

0

In [11]:
df_midjourney_21_25.drop_duplicates(inplace=True)

In [12]:
df_midjourney_21_25.head()

,Unnamed: 0,title,selftext,subreddit,score,created_utc,name,id,comments
0,0,"Hi, could you guys tell me if this is AI gener...",NaN,midjourney,1.0,19c7xex,t3_19c7xex,19c7xex,NaN
1,1,Painting 5,"painting by Ilya repin, Japanese vampire princ...",midjourney,1.0,19c7v3l,t3_19c7v3l,19c7v3l,NaN
2,2,Painting 4,"\npainting by Ilya repin oil on canvas , Malay...",midjourney,3.0,19c7js0,t3_19c7js0,19c7js0,NaN
3,3,Painting 3,"\npainting by edward hopper oil on canvas, qin...",midjourney,4.0,19c7j43,t3_19c7j43,19c7j43,NaN
4,4,BREAKING LEGOS,[DanielGindin.com](https://DanielGindin.com),midjourney,1.0,19c7fbp,t3_19c7fbp,19c7fbp,NaN

In [24]:
len(df_midjourney_21_25)

2025

### ChatGPT

In [13]:
df_chatgpt_210124 = pd.read_csv('df_chatgpt_210124_1000.csv')
df_chatgpt_210124.head()

,Unnamed: 0,title,selftext,subreddit,score,created_utc,name,id,comments
0,0,ChatGPT for work in company that banned ChatGP...,"Hi all, am sure many here like myself work for...",ChatGPT,1,19c7niu,t3_19c7niu,19c7niu,**Attention! [Serious] Tag Notice**\n\n : Joke...
1,1,Evolution Series #122: Meerkat,NaN,ChatGPT,1,19c7kv5,t3_19c7kv5,19c7kv5,Hey /u/Parking_Ad5541!\n\nIf your post is a sc...
2,2,ChatGPT is an arrogant rapper,"ChatGPT is getting a big head:\n\nBehold, I am...",ChatGPT,1,19c76zn,t3_19c76zn,19c76zn,Hey /u/Parking_Ad5541!\n\nIf your post is a sc...
3,3,An Amazing Tool for Writers,"I write a daily blog on Bible study topics, an...",ChatGPT,2,19c71l9,t3_19c71l9,19c71l9,Hey /u/bsprad49!\n\nIf your post is a screensh...
4,4,Future Hobbits,NaN,ChatGPT,9,19c6nf5,t3_19c6nf5,19c6nf5,Hey /u/futureformsdance!\n\nIf your post is a ...

In [14]:
df_chatgpt_230124 = pd.read_csv('df_chatgpt_240124_1000.csv')
df_chatgpt_230124.head()

,Unnamed: 0,title,selftext,subreddit,created_utc,name
0,0,Mistral 7B from Mistral.AI - FULL WHITEPAPER O...,NaN,ChatGPT,19d2ahp,t3_19d2ahp
1,1,Pancakes but it gets progressively more toppings,NaN,ChatGPT,19d27l8,t3_19d27l8
2,2,"McDonald's, anyone?",NaN,ChatGPT,19d1zsd,t3_19d1zsd
3,3,"We were playing hangman, shouldnt this game be...",NaN,ChatGPT,19d1vj4,t3_19d1vj4
4,4,I thought I'd play too,NaN,ChatGPT,19d1se8,t3_19d1se8

In [15]:
df_chatgpt_240124 = pd.read_csv('df_chatgpt_240124_1000.csv')
df_chatgpt_240124.head()

,Unnamed: 0,title,selftext,subreddit,created_utc,name
0,0,Mistral 7B from Mistral.AI - FULL WHITEPAPER O...,NaN,ChatGPT,19d2ahp,t3_19d2ahp
1,1,Pancakes but it gets progressively more toppings,NaN,ChatGPT,19d27l8,t3_19d27l8
2,2,"McDonald's, anyone?",NaN,ChatGPT,19d1zsd,t3_19d1zsd
3,3,"We were playing hangman, shouldnt this game be...",NaN,ChatGPT,19d1vj4,t3_19d1vj4
4,4,I thought I'd play too,NaN,ChatGPT,19d1se8,t3_19d1se8

In [16]:
df_chatgpt_250124 = pd.read_csv('df_chatgpt_250124_1000.csv')
df_chatgpt_250124.head()

,Unnamed: 0,title,selftext,subreddit,created_utc,name
0,0,Explicitly stating I want to use gpt-4-preview...,Hi!\n\nCould this be due to shortage of tokens...,ChatGPT,19di61t,t3_19di61t
1,1,A.I program that can answer questions based on...,I am looking for an A.I program / service that...,ChatGPT,19di269,t3_19di269
2,2,$20 may be too much for third-world countries,I was expecting a lower price for third-world ...,ChatGPT,19dhra0,t3_19dhra0
3,3,ChatGPT wants to wish y'all a goodnight and fo...,NaN,ChatGPT,19dhqe7,t3_19dhqe7
4,4,How to create the G1 Tournament in AEW Fight F...,NaN,ChatGPT,19dhose,t3_19dhose

In [28]:
df_chatgpt_260124 = pd.read_csv('df_chatgpt_260124_1000.csv')
df_chatgpt_260124.head()

,Unnamed: 0,title,selftext,subreddit,created_utc,name
0,0,Protect your GPT's Instructions,I actually noticed that the huge inefficiency ...,ChatGPT,19dx8ls,t3_19dx8ls
1,1,Gpt creation error,Is anybody having trouble with the helper not ...,ChatGPT,19dx5vn,t3_19dx5vn
2,2,"Rave at the old age retirement home, that keep...",NaN,ChatGPT,19dx36u,t3_19dx36u
3,3,I think Instacart is using DALL•E for product ...,The screenshots are from Instacart + Safeway- ...,ChatGPT,19dw3j1,t3_19dw3j1
4,4,"The initial ask was ""What is The Epoch Times n...",NaN,ChatGPT,19dw2jo,t3_19dw2jo

In [29]:
len(df_chatgpt_260124)

100

In [17]:
df_chatgpt_21_23 = pd.concat([df_chatgpt_210124,df_chatgpt_230124])

In [18]:
df_chatgpt_21_24 = pd.concat([df_chatgpt_21_23,df_chatgpt_240124])

In [19]:
df_chatgpt_21_25 = pd.concat([df_chatgpt_21_24,df_chatgpt_250124])

In [30]:
df_chatgpt_21_26 = pd.concat([df_chatgpt_21_25,df_chatgpt_260124])

In [41]:
df_chatgpt_21_27 = pd.concat([df_chatgpt_21_26,df_chatgpt_270124])

In [42]:
df_chatgpt_21_27.duplicated().sum()

0

In [43]:
df_chatgpt_21_27.drop_duplicates(inplace=True)

In [44]:
df_chatgpt_21_27.head()

,Unnamed: 0,title,selftext,subreddit,score,created_utc,name,id,comments
0,0.0,ChatGPT for work in company that banned ChatGP...,"Hi all, am sure many here like myself work for...",ChatGPT,1.0,19c7niu,t3_19c7niu,19c7niu,**Attention! [Serious] Tag Notice**\n\n : Joke...
1,1.0,Evolution Series #122: Meerkat,NaN,ChatGPT,1.0,19c7kv5,t3_19c7kv5,19c7kv5,Hey /u/Parking_Ad5541!\n\nIf your post is a sc...
2,2.0,ChatGPT is an arrogant rapper,"ChatGPT is getting a big head:\n\nBehold, I am...",ChatGPT,1.0,19c76zn,t3_19c76zn,19c76zn,Hey /u/Parking_Ad5541!\n\nIf your post is a sc...
3,3.0,An Amazing Tool for Writers,"I write a daily blog on Bible study topics, an...",ChatGPT,2.0,19c71l9,t3_19c71l9,19c71l9,Hey /u/bsprad49!\n\nIf your post is a screensh...
4,4.0,Future Hobbits,NaN,ChatGPT,9.0,19c6nf5,t3_19c6nf5,19c6nf5,Hey /u/futureformsdance!\n\nIf your post is a ...

In [45]:
len(df_chatgpt_21_27)

1325

In [47]:
df_chatgpt_21_27.to_csv('df_chatgpt_total.csv')

In [48]:
df_midjourney_21_25.to_csv('df_midjourney_total.csv')